{{define "main"}}
{{- $.Scratch.Set "pagecount" 0 -}}
{{ $paginate := .Paginate .Pages }}

<article class="container">

	<header>
		{{- with .Title -}}
			<h1 class="page-title">
				{{ . | htmlUnescape }}
			</h1>
		{{- end -}}
	</header>

<div class="home-container">
<div class="page-content">
  
	{{ range $paginate.Pages }}
    {{- $.Scratch.Set "pagecount" (add ($.Scratch.Get "pagecount") 1) -}}
	<a class="page-link", href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{ end }}  

</div>
</div>
</article>
{{end}}