/* Importing fonts */
@import url(fonts.css);

/*********************************************************************
                                BODY
**********************************************************************/

html, body {
	margin: 0;
	font-family: Raleway, sans-serif;
	background-color: #F2E9E4;
}

a {
	text-decoration: none;
}

/*********************************************************************
                                ALL PAGE STYLING
**********************************************************************/

.page {
	width: 90vw;
	margin: 0 auto;
	padding-top: 2rem;
}
/*********************************************************************
                                LANDING PAGE
**********************************************************************/

.landing {
	/* Sizing */
	width: 100vw;
	height: 100vh;

	/* Alignment */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* Background styles */
	background-image: url("../graphics/background.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.landing h1 {
	/* Text styles */
	font-family: LemonMilk;
	font-size: 5em;
	color:#22223B;

	/* Margins */
	margin-top: 0;
	margin-bottom: 0.5em;
}

.landing h2 {
	/* Text styles */
	font-family: caviarDreams;
	color: #4A4E69;
}
/*********************************************************************
                                NAVIGATION BAR
**********************************************************************/
.topnav-wrapper {
	padding: 20px 50px 20px 50px;
}
.topnav {
	border: 1px solid #9A8C98;
	border-width: 1px 0;
	background-color: #F2E9E4;
	position: relative;
	font-family: caviarDreams;
	margin: 0;
	padding: 0;
	text-align: center;
}

.topnav a {
	text-decoration: none;
	color: #4A4E69;
	text-align: center;
	display: inline-block;
	padding: 10px;
}

.topnav li {
	display: inline;
}

/* Change link color upon hover */
.topnav a:hover {
	background-color: #C9ADA7;
	color: #F2E9E4;
}

.topnav a.active {
	background-color: #C9ADA7;
	color: #F2E9E4;
}

@media screen and (max-width:600px) {
	.topnav {
		padding-top: 10px;
	}
	.topnav a {
	  float: none;
	  width: 100%;
	  padding: 5px 8px;
	}
  }
/*********************************************************************
                                MAIN
**********************************************************************/
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;

	max-width: 80%;
	flex-direction: row;
	height: 80%;
}
.profile-picture {
	border-radius: 50%;
}

.left, .right {
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left {
	align-items: center;
	justify-content: center;
}

.main-links {
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}

.main-links li {
	display: inline-block;
	margin-right: 8px;
}

.main-links a {
	text-decoration: none;
	padding: 4px;
	color: #4A4E69;
}

.main-links a:hover {
	background-color: #C9ADA7;
	color: #F2E9E4;
}

.bio {
	font-size: 18px;
}