/*********************************************************************
                                TYPOGRAPHY
**********************************************************************/

@font-face {
	font-family: Raleway;
	src: url(../fonts/raleway/Raleway-Regular.ttf);
	font-style: normal;
}

@font-face {
	font-family: body;
	src: url(../fonts/raleway/Raleway-Thin.ttf);
	font-style: oblique;
}

@font-face {
	font-family: LemonMilk;
	src: url(../fonts/lemonmilk/LemonMilk.otf);
}

@font-face {
	font-family: walkway;
	src: url(../fonts/walkway.ttf);
}

@font-face {
	font-family: caviarDreams;
	src: url(../fonts/CaviarDreams.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Raleway;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

/*********************************************************************
                                HEADER
**********************************************************************/
#head {
	background: url(../graphics/background.jpg) top center;
	background-size: cover;
	color: #F2E9E4;
	padding: 30px 0 35px 0;
	
}

#head .title {
	font-family: LemonMilk;
	font-size: 49px;
	font-size: 3.0625rem;
}


#head .tagline {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.2em;
	color: #4A4E69;
	margin: 5px 0 0;
}

/*********************************************************************
                                NAVIGATION BAR
**********************************************************************/
.navbar {
	border-width: 1px 0;
	-webkit-border-radius: 0;
	width: 100%;
}

/*********************************************************************
                                BODY
**********************************************************************/
body
{
 margin:0px auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: caviarDreams;
 background-color:#F2E9E4;
}
#header
{
 width:100%;
 margin:0px auto;
 padding:0px;
 text-align:center;
 height:70px;
 line-height:70px;
}
#header li
{
 display:inline-block;
 margin-right:25px;
 font-size:17px;
 color:#22223B;
 cursor:pointer;
}

#header #site_name
{
 text-align:left;
 width:680px;
 font-size:35px;
 margin-left:20px;
}

#about, #baking, #art, #math
{
 margin-top:100px;
 width:90%;
 height:400px;
 margin-left:5%;
 padding:50px;
 box-sizing:border-box;
 background-color:#C9ADA7;
 border-radius:10px;
 color: #F2E9E4;
}
#home h1
{
	font-size:40px;
}
#home p
{
 font-size:20px;
}
#about p
{
 font-size:20px;
}